:root {
    --main-color: #AEE2FF;
    --secondary-color: #F7C8E0;
    --third-color: #93c6e7;
}

body {
    margin: auto;
}

div.hero h1 {
font-family: 'Playfair Display', serif;
font-size: 50px;
color: var(--main-color);
}

h2 {
font-family: 'Poppins', sans-serif;
}

.hero {
 text-align: center;
 padding: 155px;
}

.name {
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
    color: var(--main-color);
}

.contact {
    border: none;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--main-color);
}

.contact:hover {
    cursor: pointer;
    transition: all 100ms;
    background: var(--secondary-color);
    color: white;
}

@media(max-width: 768px) {
    .hero {
        padding: 0;
        padding-top: 100px;
    }
    .name {
        font-size: 40px;
    }
}

footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 25px;
}

footer .social-links a {
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    color: var(--third-color);
    transition: all 100ms ease-in-out;
}

.about-container, .work-container, .contact-container {
    padding: 50px;
    text-align: center;
}

div.about-container h1, div.work-container h1, div.contact-container h1 {
padding-top: 50px;
font-family: 'Playfair Display', serif;
font-size: 50px;
color: var(--main-color);
}

div.work-container h3, div.contact-container h3 {
font-family: 'Poppins', sans-serif;  
color: var(--secondary-color);
}

div.contact-container h4 {
    font-family: 'Poppins', sans-serif;  
    color: var(--third-color)
}
.contact-container h4:link,
.contact-container h4:visited {
 font-family: 'Poppins', sans-serif; 
}

a {
    text-decoration: none;
}
p {

font-family: 'Poppins', sans-serif;
}

.lily {
    border-radius: 500px;
    max-width: 300px;
}

.britt {
    border-radius: 500px;
    max-width: 250px;
}

.leo {
border-radius: 500px;
    max-width: 300px;
}

@media(max-width: 768px) {
    .about-container, .work-container, .contact-container {
        padding: 5px;
        padding-top: 100px;
    }
}
.projects {
    border-radius: 25px;
}
.projects:hover {
transform: scale(1.2);
transition: all 200ms ease-in-out;
border-radius: 25px;
}
.project2 {
    border-radius: 25px;
}
.project2:hover {
transform: scale(1.2);
transition: all 200ms ease-in-out;
border-radius: 25px;
}