body {
    margin: auto;
}
h1,h2 {
font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
.intro {
 text-align: center;
 padding: 155px;
}
.name {
    font-family: 'Abril Fatface', cursive;
    font-size: 100px;
    color:lightskyblue;
}